body
{
    background-color: ghostwhite;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14pt; 
}
.navbar-nav
{
    margin-left: 10px;
}
.nav-item{
    padding: 5px;
}
.navbar-brand{   
    padding: 9px;
    margin: 8px;

}

.navbar-nav .nav-item .nav-link:hover {   
    text-decoration: underline  rgb(207, 16, 16); /* Add underline on hover */
    color: #000000; /* Change the color to your desired hover color */
}  

/* Bestseller */

h3{
    margin-top: 30px;
    margin-left: 30px;
}
video
{
    margin-top: 10px;
    margin-left: 30px;
    border-radius: 20px;
}  

.card{
    width: 300px;
    height: 400px;
    margin-left: 25px;
    border-radius: 20px;
} 
#img1{  
    height: 250px;
    width: 300px;
}

#img2{
     height: 250px;
    width: 300px;
}

#img3{
    height: 250px;
    width: 300px;
}
#img4{
    width: 300px;
    height: 250px;  
} 

/* .card-body{
    margin-bottom: 0px;
}
button{
    margin-top: 50px;
    text-align: justify;
} */

