{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boat E-commerce</title>
    <!-- CSS MDB5 file -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <!-- CSS.file -->
    <link rel="stylesheet" href="{% static 'css/boat1.css' %}">
    <!-- For Icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img src="{% static 'images/Boat_Logo.webp.png' %}" height="46" alt="Boat Logo" loading="lazy"/>
      </a>
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>    
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">    
        
        <!-- Left links -->
      <!-- Navbar dropdown -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
              role="button" data-mdb-toggle="dropdown"aria-expanded="false">
              Categories
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">True Wireless Earbuds</a></li>
              <li><a class="dropdown-item" href="#">Neckbands</a></li>
              <li><a class="dropdown-item" href="#">Smart Watches</a></li>
              <li><a class="dropdown-item" href="#">Wireless Headphones</a></li>
            </ul>
          </li>
          <!-- Daily Deals -->
          <li class="nav-item">
            <a class="nav-link" href="#">Daily Deals</a>
          </li>
          <!-- Gift With boAt -->
          <li class="nav-item">
            <a class="nav-link" href="#">Gift With boAt</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
              id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Do What Floats Your boAt</a></li>
              <li><a class="dropdown-item" href="#">Blogs</a></li>
              <li><a class="dropdown-item" href="#">Corporate Orders</a></li>
              <li><a class="dropdown-item" href="#">Earn ₹100</a></li>
              <li><a class="dropdown-item" href="#">Careers</a></li>
              <li><a class="dropdown-item" href="#">Social Responsibility</a></li>
              <li><a class="dropdown-item" href="#">Store Locator</a></li>
            </ul>
          </li>
        </ul>


        <!-- right links -->
          <div class="row">
            <ul class="navbar-nav flex-row d-none d-md-flex">
              <div class="col-md-1 rounded-circle"></div>
                <div class="col-md-15 rounded-circle" >
                  <div class="input-group search-bar-label">
                    <label for="search" class="input-group-text rounded-pill border-0"><i class="fas fa-magnifying-glass "></i></label>
                    <input type="text" id="search"  class="form-control rounded-pill">
                  </div>
                </div>
            </ul>
          </div>
            <!-- Right elements -->
            <ul class="navbar-nav flex-row d-none d-md-flex">
              <li class="nav-item me-3 me-lg-0 active">
                <a class="nav-link" href="#">
                  <span><i class="far fa-user fa-lg text-dark"></i></span>
                </a>
              </li>
              <li class="nav-item me-3 me-lg-1 bg-waring">
                <a class="nav-link" href="#">
                  <span><i class="fas fa-shopping-bag fa-lg text-dark"></i></span>
                  <span class="badge rounded- badge-notification bg-danger">13</span>
                </a>
              </li>
            </ul>
        </div>
    </div>
  </nav>
  <!-- Navbar -->





  <!-- Carousel -->

  <div id="carouselExampleIndicators" class="carousel slide" data-mdb-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="1" aria-label="Slide 2"></button>
      <buttontype="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/Carousel images/C2.webp' %}" class="d-block w-100" alt="Wild Landscape"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/Carousel images/C1.webp' %}" class="d-block w-100" alt="Camera"/>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/Carousel images/C3.webp' %}" class="d-block w-100" alt="Exotic Fruits"/>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleIndicators" data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  </div>






<!--Explore  -->

<h3>Explore <span><b>Bestsellers</b></span></h4>
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="col-md-3">
      <video class="w-100" autoplay loop muted>
        <source src="//www.boat-lifestyle.com/cdn/shop/files/quinn_RUxbhR7CvjkNtlFUDxgw9.mp4?v=5354683704256941483" type="video/mp4" />
      </video>
      <a href="http://" >Smart Watches</a>
    </div>
    <div class="col-md-3">
      <video class="w-100" autoplay loop muted>
        <source src="//www.boat-lifestyle.com/cdn/shop/files/quinn_CpsRIdJWtpXyFN3enwbXd.mp4?v=14881283340894746343" type="video/mp4" />
      </video>
    </div>
    <div class="col-md-3" >
      <video class="w-100" autoplay loop muted >
      <source src="//www.boat-lifestyle.com/cdn/shop/files/quinn_Bejc8URjU1NSXdhabLCmD.mp4?v=6517359867084812371" type="video/mp4" />
      </video>
    </div>
    <div class="col-md-3">
      <video class="w-100" autoplay loop muted>
      <source src="//www.boat-lifestyle.com/cdn/shop/files/quinn_j1TwOEeceKYOJc7d7mAim.mp4?v=1094892159472399894" type="video/mp4" />
      </video>
    </div>
  </div>

  
  

  <!-- Products -->
  <!-- cards -->
  <h3>Daily <span><b>Deals</b></span></h3>  
  
  <div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
      <div class="card h-1">
        <img src="{% static 'images/productimage/prodect-1.webp' %}" class="card-img-top" alt="H" id="img1"/>
          
        <div class="card-body text-dark">
          <h5 class="card-title">boat</h5>
          <p class="card-text">
            <h4>999</h4>
          </p>
          <div class="color-picker ">
            <label for="color"></label>
            <input type="color" id="color" name="color" value="" size="r">
          </div>
          <button type="button" class="btn btn-dark btn-rounded">Add To Cark</button>
        </div>
      </div>
    </div>

    
    <div class="col">
      <div class="card h-1">
        <img src="{% static 'images/productimage/prodect-1.webp' %}" class="card-img-top" alt="H" id="img2"/>
        <div class="card-body ">
          <button ton type="button" class="btn btn-warning btn-rounded text-dark ">Warning</button> 
          <h5 class="card-title">boat</h5>
          <p class="card-text">
          </p>
          <button type="button" class="btn btn-dark btn-rounded" id="addtocard">Add To Cark</button>
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card h-1">
        <img src="{% static 'images/productimage/prodect-1.webp' %}" class="card-img-top" alt="H" id="img3"/>
        <div class="card-body text-center">
          <button type="button" class="btn btn-warning btn-rounded text-dark ">Warning</button> 
          <h5 class="card-title">boat</h5>
          <p class="card-text">
          </p>
          <button type="button" class="btn btn-dark btn-rounded">Add To Cark</button>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-1">
        <img src="{% static 'images/productimage/prodect-1.webp' %}" class="card-img-top" alt="H" id="img4"/>
        <div class="card-body text-center">
          <button type="button" class="btn btn-warning btn-rounded text-dark">Warning</button> 
          <h5 class="card-title">boat</h5>
          <p class="card-text">
          </p>
          <button type="button" class="btn btn-dark btn-rounded">Add To Cark</button>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <h3>Shop by <span><b>Categories</b></span></h3>
  

  
  
  
  
  
  <!-- <video class="w-50 h-auto" controls>
    <source src="//www.boat-lifestyle.com/cdn/shop/files/quinn_RUxbhR7CvjkNtlFUDxgw9.mp4?v=5354683704256941483" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->





  <!-- <video class="w-100" autoplay loop muted >
    <source src="//www.boat-lifestyle.com/cdn/shop/files/quinn_RUxbhR7CvjkNtlFUDxgw9.mp4?v=5354683704256941483" type="video/mp4" />
  </video> -->

    
  <script src="{% static 'js/mdb.min.js' %}"></script>

</body>
</html>

<!-- <h1>Form GET</h1>
<form  method="GET">
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" placeholder="Enter the your email">
  <label for="pwd">Email:</label>
  <input type="password" name="pwd" id="pwd" placeholder="Enter the your password">
  <label for="submit">Submit:</label>
  <input type="submit" name="submit" id="submit" placeholder="Enter the your value">
</form>

<h1>Form1 Post</h1>
<form  method="POST">
  {% csrf_token %}
  <label for="email">Email:</label>
  <input type="email" name="email" id="email" placeholder="Enter the your email">
  <label for="pwd">Email:</label>
  <input type="password" name="pwd" id="pwd" placeholder="Enter the your password">
  <label for="submit">Submit:</label>
  <input type="submit" name="submit" id="submit" placeholder="Enter the your value">
</form> -->
